#search{
	color: white;
	background: black;
	height: 40px;
	width: 100px;
	text-align: center;
}

.distspecify{
	font-size: 10px;	
}

#selectedDist{
	margin-left: auto;
	margin-right: auto;
}

#name{
	margin-right: 10px;
}

#distance{
	margin-right: 10px;
}

#difficulty{
	margin-right: 10px;
}